body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
}

footer{
    background-color: #5e338e;
    color:white;
    text-align: center;
}

#profiles {
    
    border-collapse: collapse;
    width: 80%;
    float: left;
}

#profiles td, #profiles th {
    border: 1px solid #ddd;
    padding: 8px;
}

#profiles tr:nth-child(even){background-color: #f2f2f2;}

#profiles tr:hover {background-color: #ddd;}


#profiles th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

#filters {
    width: 19%;
    float: right;
    border: 1px solid #ddd;

}

#filTitle{
    background-color: #4CAF50;
    color:white;
    padding: 12 8;
}